<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - Поднебес</title>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
<!-- Подключение хедера -->
<%- include('header') %>

<!-- Сама страница -->
<main>
    <h2>Добро пожаловать на сайт Поднебес!</h2>
    <p>Мы рады видеть вас здесь.</p>
    <!-- В будущем будем подключать сюда файлы как хедер и футер -->

</main>

<!-- Подключение футера -->
<%- include('footer') %>
</body>
</html>
