<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - Поднебес</title>
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/logistics.css">
    <link rel="stylesheet" href="../styles/migration.css">
    <link rel="stylesheet" href="../styles/viza.css">
    <link rel="stylesheet" href="../styles/list-business-visa.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="General center">
    <h1>Опросный лист на <span>бизнес визу</span></h1>
    <p class="form-title-left">1. Выберите тип визы</p>
    <div class="form-wrapper">
        <p class="form-subtitle">Выберите нужный вариант</p>
        <form class="radio-form">
            <div class="radio-item">
                <input type="radio" id="button1" name="visaType" value="single">
                <label for="button1">
                    однократная - срок действия 3 месяца, количество дней пребывания за поездку 30/60/90 дней
                </label>
            </div>
            <div class="radio-item">
                <input type="radio" id="button2" name="visaType" value="double">
                <label for="button2">
                    двукратная - срок действия 6 месяцев, количество дней пребывания за поездку 30/60/90 дней
                </label>
            </div>
            <div class="radio-item">
                <input type="radio" id="button3" name="visaType" value="multiple">
                <label for="button3">
                    многократная - срок действия 1 год, количество дней пребывания за поездку 30/60/90 дней
                </label>
            </div>
        </form>
        <p class="form-title-left">2. Место работы</p>
        <div class="form-wrapper">
            <p class="form-subtitle-2">Название компании:</p>
        </div>
        </p>
    </div>
</div>
</body>