<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - Поднебес</title>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/migration.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="General center">
    <div class="order-visa-text">
    <h1 align="center">Заказать визу<span style="color: rgb(255, 88, 29);"> онлайн</span></h1>
        <p class="order-visa-text1" align="center" style="margin-top: 26px">Закажите визу прямо сейчас, не выходя из дома!</p>
        <p class="order-visa-text2" align="center">Достаточно загрузить пару документов</p>
    </div>
    <div class="documents">
        <div class="document-list">
            <p class="title" align="center">Список документов на бизнес визу:</p>
            <ul>
                <li>Приглашение от партнеров из Китая (Если его нет, мы поможем получить)</li>
                <li>Копия лицензии компании <br>вашего пригласителя</li>
                <li>Цветное фото на белом фоне <br>в электронном виде</li>
                <li>Скан внутреннего паспорта <br>всех страниц, где стоят отметки</li>
                <li>Загранпаспорт <br>(скан лицевой страницы)</li>
                <li>Справка с работы</li>
                <li>Заполненный опросный лист <br>(заполнить по кнопке ниже)</li>
                <button>Заполнить опросный лист</button>
            </ul>
        </div>
        <div class="document-list2">
            <p class="title" align="center">Список документов на туристическую визу:</p>
            <ul>
                <li>Цветное фото на белом фоне <br>в электронном виде</li>
                <li>Скан внутреннего паспорта <br>всех страниц, где стоят отметки</li>
                <li>Загранпаспорт (скан лицевой страницы)</li>
                <li>Заполненный опросный лист <br>(заполнить по кнопке ниже)</li>
                <button>Заполнить опросный лист</button>
            </ul>
        </div>
    </div>
    <button class="load-documents" type="submit">Загрузить документы</button>
</div>
</body>

