<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mig</title>
    <link rel="stylesheet" href="../styles/migration.css">
</head>
<body>
    <div class="background-wrapper">
        <img src="../img/migback.png" alt="Main Image" class="background-image">
        <div class="container">
            <div class="image-box">
                <img src="../img/migform.png" alt="Image 1">
                <div class="overlay">
                    <h2 style="margin-top: -82px">Шенген</h2>
                    <p>Оказываем услуги по визовому<br>оформлению в страны Евросоюза.<br>Быстрое оформление виз во все<br>страны Шенгенской зоны</p>
                    <button class="mig-button">Заказать услугу</button>
                </div>
            </div>
            <div class="image-box">
                <img src="../img/migform2.png" alt="Image 2">
                <div class="overlay">
                    <h2>ВНЖ</h2>
                    <p>Быстро оформление и полное<br>сопровождение в получении вида<br>на жительство в странах Евросоюза,<br>Турции, Казахстане, Таджикистане, Кыргызстане и других</p>
                    <button class="mig-button">Заказать услугу</button>
                </div>
            </div>
            <div class="image-box">
                <img src="../img/migform3.png" alt="Image 3">
                <div class="overlay">
                    <h2 style="margin-top: -105px;">Гражданство</h2>
                    <p>Получение Гражданства Евросоюза,<br>Сербии, Турции, Казахстана<br>под ключ</p>
                    <button class="mig-button">Заказать услугу</button>
                </div>
            </div>
        </div>
    </div>
    <div class="General center">
        <div class="order-visa-text">
            <h1 align="center">Заказать визу<span style="color: rgb(255, 88, 29);"> онлайн</span></h1>
            <p class="order-visa-text1" align="center" style="margin-top: 26px">Закажите визу прямо сейчас, не выходя из дома!</p>
            <p class="order-visa-text2" align="center">Достаточно загрузить пару документов</p>
        </div>
        <div class="documents">
            <div class="document-list">
                <p class="title" align="center">Список документов на бизнес визу:</p>
                <ul>
                    <li>Приглашение от партнеров из Китая (Если его нет, мы поможем получить)</li>
                    <li>Копия лицензии компании <br>вашего пригласителя</li>
                    <li>Цветное фото на белом фоне <br>в электронном виде</li>
                    <li>Скан внутреннего паспорта <br>всех страниц, где стоят отметки</li>
                    <li>Загранпаспорт <br>(скан лицевой страницы)</li>
                    <li>Справка с работы</li>
                    <li>Заполненный опросный лист <br>(заполнить по кнопке ниже)</li>
                    <button class="document-button" onclick="openBusinessVisaForm()">Заполнить опросный лист</button>
                    <script>
                        function openBusinessVisaForm() {
                            window.location.href = 'list-business-visa'; // Переход на страницу
                        }
                    </script>
                </ul>
            </div>
            <div class="document-list2">
                <p class="title" align="center">Список документов на туристическую визу:</p>
                <ul>
                    <li>Цветное фото на белом фоне <br>в электронном виде</li>
                    <li>Скан внутреннего паспорта <br>всех страниц, где стоят отметки</li>
                    <li>Загранпаспорт (скан лицевой страницы)</li>
                    <li>Заполненный опросный лист <br>(заполнить по кнопке ниже)</li>
                    <button class="document-button" onclick="openTouristVisaForm()">Заполнить опросный лист</button>
                    <script>
                        function openTouristVisaForm() {
                            window.location.href = 'list-tourist-visa'; // Переход на страницу
                        }
                    </script>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>

