<!-- popup.html -->
<div id="popup" class="popup">
    <span id="closePopup" class="close">&times;</span>
    <div class="popup-content">
        <h2>Заказать визу</h2>
        <form id="visaForm">
            <label for="name">Имя Фамилия</label>
            <input type="text" id="name" name="name" placeholder="Введите имя и фамилию" required>

            <label for="phone">Номер телефона</label>
            <input type="tel" id="phone" name="phone" placeholder="Введите номер телефона" required>

            <button class="button-nameAndTel" type="submit">Отправить</button>

            <p class="consent-text">*Нажимая на кнопку, вы даете свое согласие на обработку персональных данных</p>
        </form>
    </div>
</div>