<div id="statusPopup" class="status-popup">
    <div class="status-content">
        <span id="closePopup" class="close-btn">&#10005;</span> <!-- Крестик внутри формы -->
        <img id="statusImage" src="" alt="Статус">
        <p id="statusText"></p>
    </div>
</div>
