<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Визы в Китай</title>
    <link rel="stylesheet" href="../styles/viza.css">
</head>
<body>
<main>
    <h1 class="Visa-v-Kitay">Визы в Китай</h1>
    <div class="container-visa-v-Kitay">
        <div class="row">
            <div class="visa-card">
                <div class="visa-img">
                    <img src="../img/doublemark.png" alt="Фото 1">
                </div>
                <div class="text-container" style="line-height: 34px;">
                    <p>Туристическая</p>
                </div>
            </div>
            <div class="visa-card">
                <div class="visa-img">
                    <img src="../img/doublemark.png" alt="Фото 2">
                </div>
                <div class="text-container">
                    <p>Бизнес</p>
                </div>
            </div>
            <div class="visa-card">
                <div class="visa-img">
                    <img src="../img/doublemark.png" alt="Фото 3">
                </div>
                <div class="text-container">
                    <p>Визит</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="visa-card">
                <div class="visa-img">
                    <img src="../img/doublemark.png" alt="Фото 4">
                </div>
                <div class="text-container">
                    <p>Рабочая</p>
                </div>
            </div>
            <div class="visa-card">
                <div class="visa-img">
                    <img src="../img/doublemark.png" alt="Фото 5">
                </div>
                <div class="text-container">
                    <p>Семейная</p>
                </div>
            </div>
            <div class="visa-card">
                <div class="visa-img">
                    <img src="../img/doublemark.png" alt="Фото 6">
                </div>
                <div class="text-container">
                    <p>Студенческая / Учебная</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="visa-card">
                <div class="visa-img">
                    <img src="../img/doublemark.png" alt="Фото 7">
                </div>
                <div class="text-container">
                    <p>Транзитная</p>
                </div>
            </div>
            <div class="visa-card">
                <div class="visa-img">
                    <img src="../img/doublemark.png" alt="Фото 8">
                </div>
                <div class="text-container">
                    <p>Виза бортпроводника</p>
                </div>
            </div>
            <div class="visa-card">
                <div class="visa-img">
                    <img src="../img/doublemark.png" alt="Фото 9">
                </div>
                <div class="text-container">
                    <p>Виза по лечению</p>
                </div>
            </div>
        </div>
        <div class="row last-row">
            <div class="visa-card">
                <div class="visa-img">
                    <img src="../img/doublemark.png" alt="Фото 10">
                </div>
                <div class="text-container">
                    <p>Пребывание<br>30/60/90/180/360 дней</p>
                </div>
            </div>
        </div>
    </div>
    <div class="visa-heading">Оформляем любой <span>тип виз</span></div>

    <div class="type_visa-container">
        <div class="photo-item"><img src="../img/type_visa/M.png" alt="Фото 1"></div>
        <div class="line"></div>
        <div class="photo-item"><img src="../img/type_visa/L.png" alt="Фото 2"></div>
        <div class="line"></div>
        <div class="photo-item"><img src="../img/type_visa/F.png" alt="Фото 3"></div>
        <div class="line"></div>
        <div class="photo-item"><img src="../img/type_visa/Z.png" alt="Фото 4"></div>
        <div class="line"></div>
        <div class="photo-item"><img src="../img/type_visa/S1.png" alt="Фото 5"></div>
        <div class="line"></div>
        <div class="photo-item"><img src="../img/type_visa/S2.png" alt="Фото 6"></div>
        <div class="line"></div>
        <div class="photo-item"><img src="../img/type_visa/X1.png" alt="Фото 7"></div>
        <div class="line"></div>
        <div class="photo-item"><img src="../img/type_visa/X2.png" alt="Фото 8"></div>
        <div class="line"></div>
        <div class="photo-item"><img src="../img/type_visa/Q.png" alt="Фото 9"></div>
        <div class="line"></div>
        <div class="photo-item"><img src="../img/type_visa/C.png" alt="Фото 10"></div>
    </div>
    <div class="visa-price-heading">
        <span>Стоимость</span> оформления визы,<br>включая Консульский сбор
    </div>

    <div class="visa-price-container">
        <div class="type-visa-card">
            <div class="type-visa-image">
                <img src="../img/Rectangle_up.png" alt="Виза 1">
            </div>
                <div class="visa-title">Однократная</div>
                <div class="visa-strike-price"><s>16.000руб</s></div>
                <div class="visa-price">13.500руб</div>
                <div class="visa-info" style="height: 35%">
                    <div class="info-row">
                        <img src="../img/orange_mark.png" alt="Иконка">
                        <span>Бизнес</span>
                    </div>
                    <div class="info-row">
                        <img src="../img/orange_mark.png" alt="Иконка">
                        <span>Туризм</span>
                    </div>
                    <div class="info-row">
                        <img src="../img/orange_mark.png" alt="Иконка">
                        <span>Рабочая</span>
                    </div>
                    <div class="info-row">
                        <img src="../img/orange_mark.png" alt="Иконка">
                        <span>Учебная</span>
                    </div>
                    <div class="info-row">
                        <img src="../img/orange_mark.png" alt="Иконка">
                        <span>Типы виз с однократным<br>въездом в страну</span>
                    </div>
                    <div class="info-row">
                        <img src="../img/orange_mark.png" alt="Иконка">
                        <span>Пребывание по 30\60\90\180дн<br>в зависимости от типа визы</span>
                    </div>
                    <button id="openPopup" class="visa-button">Оформить визу</button>
                    <p class="discount-text">
                        *При групповых поездках или заказе<br>нескольких виз предоставляется скидка
                    </p>
                </div>
        </div>

        <div class="type-visa-card">
            <div class="type-visa-image">
                <img src="../img/Rectangle_up.png" alt="Виза 2">
                <div class="visa-title">Двукратная</div>
                <div class="visa-strike-price"><s>20.000руб</s></div>
                <div class="visa-price">17.000руб</div>
            </div>
            <div class="visa-info" style="height: 35%">
                <div class="info-row">
                    <img src="../img/orange_mark.png" alt="Иконка">
                    <span>Бизнес</span>
                </div>
                <div class="info-row">
                    <img src="../img/orange_mark.png" alt="Иконка">
                    <span>Туризм</span>
                </div>
                <div class="info-row">
                    <img src="../img/orange_mark.png" alt="Иконка">
                    <span>Семейная</span>
                </div>
                <div class="info-row">
                    <img src="../img/orange_mark.png" alt="Иконка">
                    <span>Виза бортпроводника</span>
                </div>
                <div class="info-row">
                    <img src="../img/orange_mark.png" alt="Иконка">
                    <span>Типы виз с двукратным<br>въездом в страну</span>
                </div>
                <div class="info-row">
                    <img src="../img/orange_mark.png" alt="Иконка">
                    <span>Пребывание по 30\60\90\180дн<br>в зависимости от типа визы</span>
                </div>
                <button id="openPopup" class="visa-button">Оформить визу</button>
                <p class="discount-text">
                    *При групповых поездках или заказе<br>нескольких виз предоставляется скидка
                </p>
            </div>
        </div>

        <div class="type-visa-card">
            <div class="type-visa-image">
                <img src="../img/Rectangle_up.png" alt="Виза 3">
                <div class="visa-title">Многократная</div>
                <div class="visa-strike-price"><s>24.000руб</s></div>
                <div class="visa-price">20.000руб</div>
            </div>
            <div class="visa-info" style="height: 35%">
                <div class="info-row">
                    <img src="../img/orange_mark.png" alt="Иконка">
                    <span>Бизнес</span>
                </div>
                <div class="info-row">
                    <img src="../img/orange_mark.png" alt="Иконка">
                    <span>Туризм</span>
                </div>
                <div class="info-row">
                    <img src="../img/orange_mark.png" alt="Иконка">
                    <span>Семейная</span>
                </div>
                <div class="info-row">
                    <img src="../img/orange_mark.png" alt="Иконка">
                    <span>Виза бортпроводника</span>
                </div>
                <div class="info-row">
                    <img src="../img/orange_mark.png" alt="Иконка">
                    <span>Пребывание по 30\60\90\180дн<br>в зависимости от типа визы</span>
                </div>
                <button id="openPopup" class="visa-button">Оформить визу</button>
                <p class="discount-text">
                    *При групповых поездках или заказе<br>нескольких виз предоставляется скидка
                </p>
            </div>
        </div>
    </div>
    <div class="visa-process">
        <div class="visa-process-title">Процесс <span>получения</span> визы</div>

        <div class="visa-process-images">
            <img class="step-circle" src="../img/orangeСircle.png" alt="Фото 1">
            <img class="step-ten-line" src="../img/Line_10.png" alt="Фото 2">
            <img class="step-circle" src="../img/orangeСircle.png" alt="Фото 1">
            <img class="step-ten-line" src="../img/Line_10.png" alt="Фото 2">
            <img class="step-circle" src="../img/orangeСircle.png" alt="Фото 1">
        </div>

        <div class="visa-process-text">
            <div class="step-content">
                <p class="step-title">Подготовка документов</p>
                <p class="step-desc">Если каких-то документов<br>не хватает, мы окажем<br>содействие в их оформлении</p>
            </div>
            <div class="step-content">
                <p class="step-title">Подача документов</p>
                <p class="step-desc">Подача происходит в заранее<br>назначенную дату без<br>личного присутствия</p>
            </div>
            <div class="step-content">
                <p class="step-title">Получение готовой визы</p>
                <p class="step-desc">После оформления визы мы<br>осуществляем ее доставку<br>по всей стране и миру</p>
            </div>
        </div>

        <p class="visa-process-note">
            *На многократную бизнес визу M, типы виз S1, S2, Q, Z, F, X1, X2<br>
            требуется личное присутствие
        </p>
    </div>
</main>
</body>
</html>
