* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a-policy {
    font-weight: 300;
    font-size: 15px;
    color: inherit;
    cursor: pointer;
}

.center {
    color: white;
    background-color: black;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый текст */
    text-align: center;
}

/* Стили кнопки */
.menu-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 3; /* Поверх всего */
}

/* Боковое меню (поверх страницы) */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Скрыто за экраном */
    width: 250px;
    height: 100%;
    background: rgba(23, 23, 23, 0.9); /* Полупрозрачный фон */
    color: white;
    transition: right 0.3s ease-in-out;
    padding-top: 60px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5); /* Тень */
    z-index: 4; /* Поверх контента */
    backdrop-filter: blur(5px); /* Размытие заднего фона */
}

/* Стили ссылок */
.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    padding-left: 15px;
    position: relative;
    text-align: left;
}

.sidebar li::before {

    position: absolute;
    left: 0;
    color: white;
    font-size: 16px;
    content: "";
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: background 0.3s;
}


.sidebar a:hover {
    background: none;
    color: #ff581d;
}

/* Кнопка закрытия */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.darkHome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

/* Главный контейнер, который выравнивает всё в ряд */
.info-home {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 430px; /* Расстояние между блоками */
    padding-top: 40px;
    z-index: 3;
}

/* Блок с фотографиями */
.image-block {
    display: flex;
    flex-direction: row;
    gap: 25px;

}

/* Для логотипа */
.logo_2 {
    max-width: 70px; /* Уменьшаем размер логотипа */
}

/* Для компании */
.company {
    max-height: 50px; /* Устанавливаем максимальную высоту */
    width: auto; /* Сохраняем пропорции изображения */
}

/* Блок с иконками */
.icon-block {
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-right: -400px;
}

.icon-block img {
    width: 32px;
    height: auto;
}

/* Блок с номерами телефонов */
.phone-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.phone-block a {
    font-size: 1.4rem;
    text-decoration: none;
}

/* Контейнер с фоновым изображением */
.visa-banner {
    top: -90px;
    position: relative;
    width: 100%;
    max-width: 1600px; /* Увеличена максимальная ширина */
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Фото — увеличенное, адаптивное */
.visa-banner-img {
    width: 100%;
    height: auto;
    max-height: 150vh; /* Фотография теперь больше */
    object-fit: cover;

}

/* Контент поверх изображения */
.visa-banner-content {
    position: absolute;
    top: 30%;
    left: 43%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    width: 90%;
    max-width: 900px;
}

/* Заголовок */

.registration-visa {
    font-size: 2.7rem; /* Увеличен размер заголовка */
    font-weight: bolder;
    color: #ffffff;
    left: -2.5%;

}


.registration-visa span {
    color: rgb(255, 88, 29);
}

/* Подзаголовок */
.visa-subtitle {
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 10px;
    display: block;
    line-height: 1.2;
}

/* Кнопка */
.visa-urgentle-button {
    font-family: "Montserrat", sans-serif;
    padding: 25px 35px;
    background-color: #FF5722;
    color: #e5e5e5;
    border: none;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 500;
    border-radius: 12px;
    margin-top: 30px;
    transition: 0.3s ease;
    align-self: flex-start;
}

.visa-urgentle-button:hover {
    background-color: white;
    color: #FF5722;
}

/* 6 формочек */
.photo-gallery {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.photo-row {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 70px;
}

.gallery-img-1 {
    position: relative;
    width: 280px; /* Увеличиваем ширину */
    height: 110px; /* Делаем их прямоугольными */
    object-fit: cover; /* Центрируем и обрезаем */
    border-radius: 8px;
    opacity: 0.9; /* 0 - полностью прозрачный, 1 - полностью видимый */
    transition: opacity 0.3s ease;
}

.gallery-img-2 {
    position: relative;
    width: 280px; /* Увеличиваем ширину */
    height: 110px; /* Делаем их прямоугольными */
    object-fit: cover; /* Центрируем и обрезаем */
    border-radius: 8px;
    opacity: 0.9; /* 0 - полностью прозрачный, 1 - полностью видимый */
    transition: opacity 0.3s ease;
}

.gallery-img-3 {
    position: relative;
    width: 280px; /* Увеличиваем ширину */
    height: 110px; /* Делаем их прямоугольными */
    object-fit: cover; /* Центрируем и обрезаем */
    border-radius: 8px;
    opacity: 0.9; /* 0 - полностью прозрачный, 1 - полностью видимый */
    transition: opacity 0.3s ease;
}

.gallery-img-4 {
    position: relative;
    width: 280px; /* Увеличиваем ширину */
    height: 110px; /* Делаем их прямоугольными */
    object-fit: cover; /* Центрируем и обрезаем */
    border-radius: 8px;
    opacity: 0.9; /* 0 - полностью прозрачный, 1 - полностью видимый */
    transition: opacity 0.3s ease;

}

.gallery-img-5 {
    position: relative;
    width: 280px; /* Увеличиваем ширину */
    height: 110px; /* Делаем их прямоугольными */
    object-fit: cover; /* Центрируем и обрезаем */
    border-radius: 8px;
    opacity: 0.9; /* 0 - полностью прозрачный, 1 - полностью видимый */
    transition: opacity 0.3s ease;
}

.gallery-img-6 {
    position: relative;
    width: 280px; /* Увеличиваем ширину */
    height: 110px; /* Делаем их прямоугольными */
    object-fit: cover; /* Центрируем и обрезаем */
    border-radius: 8px;
    opacity: 0.9; /* 0 - полностью прозрачный, 1 - полностью видимый */
    transition: opacity 0.3s ease;
}



.icon-1 {
    position: relative;
    width: 55px; /* Размер иконки */
    height: 55px; /* Размер иконки */
    top: -20px; /* Располагаем иконку на 20px выше */
    left: 50%;
    transform: translateX(-50%); /* Для выравнивания по центру */
    z-index: 2; /* Убедимся, что иконка будет поверх изображения */
}

.icon-2 {
    position: relative;
    width: 55px; /* Размер иконки */
    height: 55px; /* Размер иконки */
    top: -20px; /* Располагаем иконку на 20px выше */
    left: 50%;
    transform: translateX(-50%); /* Для выравнивания по центру */
    z-index: 2; /* Убедимся, что иконка будет поверх изображения */
}


.icon-3 {
    position: relative;
    width: 55px; /* Размер иконки */
    height: 55px; /* Размер иконки */
    top: -20px; /* Располагаем иконку на 20px выше */
    left: 50%;
    transform: translateX(-50%); /* Для выравнивания по центру */
    z-index: 2; /* Убедимся, что иконка будет поверх изображения */
}


.photo-text-1 {
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2; /* Уменьшаем расстояние между строками, если нужно */
    z-index: 2;
}

.photo-text-2 {
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2; /* Уменьшаем расстояние между строками, если нужно */
    z-index: 2;
}

.photo-text-3 {
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2; /* Уменьшаем расстояние между строками, если нужно */
    z-index: 2;
}

.photo-text-4 {
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2; /* Уменьшаем расстояние между строками, если нужно */
    z-index: 2;
}

.photo-text-5 {
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2; /* Уменьшаем расстояние между строками, если нужно */
    z-index: 2;
}

.photo-text-6 {
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2; /* Уменьшаем расстояние между строками, если нужно */
    z-index: 2;
}

/* Общий контейнер Акция */
.promo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    margin-top: -500px; /* Отступ сверху */
    margin-bottom: -50px; /* Отступ снизу */
    z-index: 2;
}

/* Контейнер для изображения */
.promo-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Можно увеличить, если нужно больше */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Фото */
.promo-image img {
    width: 145%;
    height: 145%;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Смещаем картинку обратно на 50% */
}


/* Контейнер для текста и кнопки (поверх изображения) */
.promo-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 120%;
}

/* Заголовок */
.promo-title {
    font-size: 2rem;
    font-weight: bold;
    color: #de4f1f;
    margin-bottom: 10px;
}

/* Подзаголовок */
.promo-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.promo-subtitle span {
    color: #de4f1f;
}

/* Описание */
.promo-description {
    font-size: 22px;
    color: #e5e5e5;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

/* Кнопка */
.promo-button {
    padding: 15px 60px;
    background-color: white;
    color: #e54e2e;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 30px;
    border: none;
}

.promo-button:hover {
    background-color: #e54e2e;
    color: white;
}

/* Маленький текст */
.promo-note {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
}

/* Блок консультации */
.consultation-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.consultation-container {
    display: flex;
    align-items: center;
}

.consultation-text {
    flex-grow: 1;
    line-height: 30px;
    color: white;
    margin-right: 30px;
}

.consultation-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: -65px;
}

.consultation-subtitle {
    font-size: 1.4rem;
    color: white;
    margin-top: 5px;
}

.highlight {
    color: rgb(255, 88, 29);
}


.btn_cons {
    font-family: "Montserrat", sans-serif;
    margin-top: -1px;
    padding: 25px 35px;
    background-color: #FF5722;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 12px;
    margin-left: 30px;
    transition: 0.3s ease;
    align-self: flex-start;
}

.btn_cons:hover {
    background-color: white;
    color: #FF5722;
}

footer {
    background-color: #2d2d2d;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .order-visa-text {
        margin-top: 5px;
    }

    .order-visa-text1 {
        width: 140%;
        font-size: 20px;
    }

    .order-visa-text2 {
        width: 140%;
    }

    .icon-1 {
        top: -80px !important;
        left: -142px !important;
    }

    .icon-2 {
        top: -80px !important;
        left: -142px !important;
    }

    .icon-3 {
        top: -80px !important;
        left: -142px !important;
    }

    .photo-text-1 {
        top: -75px !important;
    }

    .photo-text-2 {
        top: -75px !important;
    }


    .photo-text-3 {
        top: -75px !important;
    }

    .visa-subtitle {
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
        margin-left: 15px;
    }

    .btn_cons {
        padding: 15px 30px;
        font-size: 18px;
        margin-right: 100px;
        height: 70px;
        width: 300px;
    }

    .consultation-subtitle {
        font-size: 16px;
        margin-right: 70px;
        line-height: 20px;
    }

    .promo-description {
        display: flex;
        align-items: flex-start;
        font-size: 10px;
        margin-bottom: 0;
    }

    .promo-section {
        margin-top: 10px;
    }

    .photo-row {
        display: flex;
        flex-direction: column;
        margin-top: -80px;
        margin-bottom: -50px;
        gap: 0px;
    }

    .consultation-text {
        margin-left: 50px;
    }

    .promo-subtitle {
        display: flex;
        font-size: 12px;
        margin-bottom: 2px;
    }

    .promo-title {
        margin-right: 105px;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 1px;
        display: flex;
        justify-content: center;
    }

    .promo-note {
        font-size: 10px;
        margin-right: 100px;
    }

    .a-policy {
        font-size: 10px;
    }

    .promo-image img{
        width: 150%;
        height: 100%;
    }

    .promo-button {
        width: 35%;
        height: 50%;
        font-size: 15px;
        padding: 10px 20px;
        margin-bottom: 10px;
        margin-right: 105px;
        margin-top: 15px;
    }

    .center {
        padding-left: 5%;
        padding-right: 5%;
    }

    h1 {
        gap: 5px;
        font-size: 25px;
        width: 400px;
        margin-right: 150px;
        left: -20px;
    }

    .lines {
        flex-direction: column;
        gap: 50px;
        height: auto;
    }

    .road {
        background-size: cover;
        margin-bottom: 15px;
        margin-left: 20px;
    }

    .icons-container {
        flex-direction: row;
        width: 150%;
        flex-wrap: nowrap;
        gap: 10px;
        margin-left: -25px;
    }

    .cargo-form input[type="text"] {
        width: 150%;
    }

    .cargo-form-input select {
        width: 150%;
    }


    .form_title_volume,
    .form_title_weight,
    .form_title_name {
        font-size: 18px;
        width: 500px;
        margin-top: -15px;
    }

    .icon-item-plane {
        top: -7px;
        height: 145px;
    }

    .icon-text {
        font-size: 11px;
    }

    .icon-item-plane img,
    .icon-item img{
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .cargo-form {
        width: 100%;
    }

    .cargo-submit-button {
        width: 100%;
    }

    .under-button-text1, .under-button-text2 {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .photo-gallery {
        left: 60%;
    }

    .center {
        padding-left: 10%;
        padding-right: 10%;
    }

    .lines {
        gap: 100px;
    }

    .cargo-form {
        max-width: 500px;
    }

    .cargo-weight-volume {
        flex-direction: column;
        gap: 15px;
    }

    .under-button-text1,
    .under-button-text2 {
        display: flex;
        text-align: left;
        width: 350px;
    }
}

@media (min-width: 1200px) {
    .center {
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .visa-urgentle-button {
        width: 250px;
        height: 50px;
        font-size: 17px;
        padding: 3px 8px;
        margin-left: 15px;
    }

    .info-home {
        gap: 10px;
        margin-bottom: 100px;
    }

    .icon-block {
        margin-right: 0;
    }

    .visa-banner {
        margin-top: 20px;
    }
    .container {
        width: 110vw;
        overflow: hidden;
    }

    .visa-banner-content {
        width: 95%;
    }

    .registration-visa {
        font-size: 20px;
    }

    .visa-button {
        font-size: 1rem;
        padding: 12px 24px;
    }
}
