* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый текст */
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
}

h1 span {
    color: rgb(255, 88, 29);
}

.center {
    color: white;
    background-color: black;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 2px solid white;
    padding: 40px;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 1000px;
    height: 213px;
    align-items: flex-start;
    justify-content: flex-start;
}

.form-title-left {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #ff581d;
    font-size: 22px;
    text-align: left;
    margin-top: 50px;
    background-position: center;
}

.form-subtitle {
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
    font-weight: 500;
}

.radio-form {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/* Скрываем стандартные радио-кнопки */
.radio-form input[type="radio"] {
    display: none;
}

/* Оформление каждого пункта */
.radio-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* расстояние между пунктами */
}

/* Оформление метки, которая будет содержать кастомную радио-кнопку */
.radio-form label {
    position: relative;
    padding-left: 35px;  /* Отступ для размещения кастомного кружка */
    cursor: pointer;
    font-size: 17px;
    line-height: 1.3;
    font-weight: 500;
}

/* Кастомная радио-кнопка – внешний круг */
.radio-form label::before {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #ff581d; /* Обводка нужного цвета */
    border-radius: 50%;
    vertical-align: middle;
    box-sizing: border-box;
    margin-right: 10px;
}

/* При выборе радио-кнопки – внутренний кружок */
.radio-form input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    left: 6px;  /* смещаем внутрь, чтобы осталась обводка */
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff581d; /* Заполнение тем же цветом */
}